.products_container {
  max-width: 1100px;
  margin: auto;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}

.product_item {
  width: 250px;
  border-radius: 10px;
  border: 1px solid lightgray;
  transition: all 0.2s;
  -webkit-box-shadow: 5px 5px 15px 5px lightgray;
  box-shadow: 5px 5px 15px 5px lightgray;
  .product_img {
    width: 230px;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
    padding: 10px;
  }
  .product_desc {
    width: 250px;
    text-align: center;
    margin-bottom: 10px;
   .product__title{
    height: 70px;
   }
    a{
        color: black;
        text-decoration: none;
        word-wrap: break-word;
    }
    b{
      padding: 5px;
      
    }
    .product_icon{
        display: flex;
        width: 100px;
        margin: auto;
        justify-content: space-between;
      
        .product_favorite{
        color: gray;
        font-size: 20px;
        }
        .product_favorite:hover{
            color: red;
        }
        .product_cart{
            color: gray;
            font-size: 20px;
        }
        .product_cart:hover{
             color:green;
        }
    }
  }
}
.product_item:hover {
  transform: scale(1.1);
}
