.cart__container{

    .cart__head{
        text-align: center;
        color: green;
    }

    .cart__products-container{
        display: flex;
        flex-direction: column;
      
        .cart__products-item{

            display: flex;
            height: 250px;
            align-items: center;
            justify-content: space-around;
            border-top:1px solid green;
            // margin-bottom: 10px;
            .cart__products-imgBlock{
                padding: 10px;
                .cart__products-img{
                width: 200px;
                height: 200px;
                object-fit: cover;
            } 
            }
            .cart__products-name{
            }
            .cart__products-desc{
                width: 300px;

            }
            .cart__products-quantity{
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 20px;
                width: 100px;

                 .cart__products-icon{
                font-size: 20px;
                border: 1px solid green;
                padding: 5px;
                border-radius: 50%;
                cursor: pointer;
                color: rgb(109, 107, 107);
            }
            }
           .cart__products-delete{
            .cart__products-iconDelete{
                color: red;
                font-size: 20px;
                cursor: pointer;
            }
           }
           
        }
        .cart__products-item:last-child{
            border-bottom: 1px solid green;
        }

 
    }
    .cart__order{
        .cart__order-table{
            width: 70%;
            margin: auto;
            border:1px solid lightgray;
            .cart__table-head{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr ;
                border-bottom: 1px solid lightgray;
                text-align: center;
                font-weight: 500;
            }
            .cart__table-body{
                .cart__table-item{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr ;
                    border-bottom:1px solid lightgray;
                    text-align: center;
                    span{
                        margin-top: 5px;
                    }
                }

            }
            .cart__table-total{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr ;
                border-bottom:1px solid lightgray;
                text-align: center;
                span{
                    margin: 5px;
                    font-size: 18px;
                    font-weight: 500;
                    background-color: rgb(255, 247, 172);
                }
            }
        }
        .cart__order-bottom{
            width: 20%;
            margin: auto;
            .cart__order-btn{
                margin: 20px 0 50px;
                width: 250px;
                background-color:green;
                color: white;
                font-size: 20px;
                font-weight: 700;
                padding: 10px 0;
                border: none;
                border-radius: 20px;
                cursor: pointer;
                transition: all 0.2s;
                text-align: center;
           
            }
            .cart__order-btn:hover{
                transform: scale(1.1);
                font-weight: 700;
             
            }
        }
    }
}
